*{
  font-family: Verdana, Geneva, Tahoma;
}

.container{
    padding: 0;
    background-color: rgba(231, 231, 231, 0.527);
    height: max-content;
}

body {
    margin: 0 ;
    color: #333;
    overflow-x:hidden;
}

 .navbar{
    /* background-color: #333; */
    background-image: linear-gradient(#333 90%, rgba(231, 231, 231, 0.527));
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}


  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu1 {
    float: left;
    border-right:1px solid #bbb;
  }
  
  .menu1:last-child {
    border-left: 1px solid #bbb;
    border-right: none;
  }
  
  .menu1 .odnosnik {
    display: block;
    color: white;
    text-align: center;
    padding: 2em;
    text-decoration: none;
  }
  
  .menu1 .odnosnik:hover {
    /* background-color: rgba(72, 154, 202); */
    background-image: linear-gradient(rgba(72, 154, 202) , rgba(231, 231, 231, 0.527) );
  }

  .odnosnik{
      font-size:1.5em ;
  }

  /* .oferty {
    display: flex;
    margin: 2em 5em;
    border: 1px solid white; 
    width: max-content;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    font-size: medium;
  }

  .cena{
      background-color: yellow;
      border-radius: 25%;
      padding: 0.7em;
      color: #333;
      margin:1em 1em 1em 25em;
  } */

  /* .struktura{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }

  .oferta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bot{
    border: 1px solid white;
  }

  .linia{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  } */

  /* .kontener {
    width: 100%;
    height: 500px;
    display: grid; 
    grid-template-columns: 33% 33% 33%;
  }
  .left {
    margin: 2em 2em 5em 2em;

  }

  .right{
    margin: 2em 2em 5em 2em;
  }

  .center {
    margin: 2em 2em 5em 2em;

  }

  .srodek{
    text-align: center;
  }

  .tytul{
    width: 100%;
    background-color: #bbb;
    
  }

  .cena{
    background-color: #bbb;
  }

  .gwiazdki{
    background-color: #bbb;
  } */

  
  .zdjecie{
    min-width: 100%;
  }

  .zdjecie2{
    width: 100%;
    height: 16.5em;
  }

  .banner{
    margin: 5em 0 0 0;
    position: relative;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 100%;
  }


  .zdjecie1{
    min-width: 100%;
    max-height: 400px;
    opacity: 50%;
  }

  .kontener1 {
    margin: 7em 3em 0 2em;
    width: 100%;
    height: 500px;
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33%;
  }
  .left1 {
    margin: 2em;
  }

  .right1{
    margin: 2em;
  }

  .left2 {
    margin: 2em;
  }

  .right2{
    margin: 2em;
  }

  .opis{
    text-align: center;
    height: 100% !important;
    margin: 2em;
    
  }

  .video{
    margin: 35em 0 1em 0;
    text-align: center;
    min-width: 100%;
    height: auto;
  }

.content_img{
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 2em 2em 5em 5em;
  overflow: hidden;
}

 .content_img .text{
  text-align: justify;
  text-justify: right;
  position: absolute; 
  display: flex;
  overflow: hidden;
  flex-direction: column;
  bottom: 0;
  right: 0;
  background: #000b;
  color: white;
  font-family: sans-serif;
  padding: 0.5em;
  width: 100%;
  height: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  transition: all 0.5s ease;
 }
 
 .content_img:hover{
  cursor: pointer;
 }
 
 .content_img:hover .text{
  visibility: visible;
  opacity: 0.7; 
  height: 200px;
 }

 .footer {
  display: grid;
  grid-template-columns: 59% 10%;
  text-align: center;
  background-color: #333;
  grid-column-start: auto;
}

 .grid{
   margin: 1em 0 0 0;
   height: 40px;
 }

 .footer1{
    display: grid;
    grid-template-columns: 30% 33% 33%;
    text-align: center;
    background-color: #333;
    grid-column-start: auto;
 }

 .koniec{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .main-header {
  background-image: url(https://i.pinimg.com/originals/a7/76/49/a77649556c5008051ae0036f7170bd87.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  height: auto;
}

h1.logo {
  text-indent: -9999px;
  height:115px;
  margin-top: 10%;
}


.mySlides {display: none}
.zdj {vertical-align: middle;}

.slideshow-container {
  min-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

